[include mainsail.cfg]

# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
# position_endstop: 0.0                     # disable to use BLTouch
# endstop_pin: ^PA7                         # disable to use BLTouch
endstop_pin: probe:z_virtual_endstop    # enable to use BLTouch
position_min: -6                        # enable to use BLTouch
position_max: 250

[safe_z_home]                         # enable for BLTouch
home_xy_position: 120.5,120.5
speed: 80
z_hop: 10
z_hop_speed: 10

[extruder]
max_extrude_only_distance: 100.0
step_pin: PB3
dir_pin: PB4
enable_pin: !PC3
microsteps: 16
rotation_distance: 7.521183807954814
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA1
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC5
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PA2
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC4
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[bltouch]                             # enable for BLTouch - fast-mode
sensor_pin: ^PB1
control_pin: PB0
x_offset: 10
y_offset: -60.0                          # modify as needed for bltouch location
z_offset: 5.95                         # modify as needed for bltouch or run PROBE_CALIBRATE
speed: 10
samples: 3
sample_retract_dist: 1.0              # Can be set lower, example 2.5 depending on height of bltouch from bed
lift_speed: 40
samples_tolerance_retries: 3
speed: 10
samples: 2

[bed_mesh]
speed: 120
mesh_min: 55,0         #need to handle head distance with bl_touch
mesh_max: 245,175      #max probe range
horizontal_move_z: 10
probe_count: 5,5
algorithm: bicubic

# # manual Bed adjustment via BED_SCREWS_ADJUST
# [bed_screws]
# screw1: 72.5, 41.5
# screw1_name: front left screw
# screw2: 198.5,35.5
# screw2_name: front right screw
# screw3: 198.5,205.5
# screw3_name: rear right screw
# screw4: 28.5,205.5
# screw4_name: rear left screw
# horizontal_move_z: 10
# speed: 50

[screws_tilt_adjust]
screw1: 72.5, 41.5
screw1_name: front left screw
screw2: 198.5,41.5
screw2_name: front right screw
screw3: 198.5,212.5
screw3_name: rear right screw
screw4: 72.5,212.5
screw4_name: rear left screw
horizontal_move_z: 10
speed: 50
screw_thread: CW-M4

[input_shaper]
shaper_type_x = mzv
shaper_freq_x = 89.8
shaper_type_y = mzv
shaper_freq_y = 35.2

[gcode_macro G29]
gcode:
    G28
    BED_MESH_CALIBRATE
    G0 X0 Y0 Z10 F6000
    BED_MESH_PROFILE save=customsidee3
    SAVE_CONFIG

[display]
lcd_type: st7920
cs_pin: PB12
sclk_pin: PB13
sid_pin: PB15
encoder_pins: ^PB14, ^PB10
click_pin: ^!PB2

[board_pins]
aliases:
  EXP1_1=PC6,EXP1_3=PB10,EXP1_5=PB14,EXP1_7=PB12,EXP1_9=<GND>,
  EXP1_2=PB2,EXP1_4=PB11,EXP1_6=PB13,EXP1_8=PB15,EXP1_10=<5V>,
  PROBE_IN=PB0,PROBE_OUT=PB1,FIL_RUNOUT=PC6

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bed_mesh Customsidee3]
#*# version = 1
#*# points =
#*# 	-0.420000, -0.160000, -0.011250, 0.035000, -2.110000
#*# 	-0.373750, -0.103750, 0.101250, 0.153750, -2.028750
#*# 	-0.387500, -0.117500, 0.055000, 0.125000, -2.013750
#*# 	-0.401250, -0.108750, 0.097500, 0.178750, -1.961250
#*# 	-0.397500, -0.110000, 0.096250, 0.162500, -1.960000
#*# tension = 0.2
#*# min_x = 55.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 2
#*# min_y = 0.0
#*# x_count = 5
#*# max_y = 165.0
#*# mesh_x_pps = 2
#*# max_x = 245.0
#*#
#*# [bltouch]
#*# horizontal_move_z = 5.0
#*#
#*# [extruder]
#*#
#*# [heater_bed]
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.293750, -0.032500, 0.053750, -0.002500, -1.793750
#*# 	  -0.172500, 0.116250, 0.263750, 0.212500, -1.697500
#*# 	  -0.216250, 0.073750, 0.212500, 0.175000, -1.685000
#*# 	  -0.201250, 0.130000, 0.297500, 0.265000, -1.656250
#*# 	  -0.240000, 0.076250, 0.227500, 0.191250, -1.615000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 55.0
#*# max_x = 245.0
#*# min_y = 0.0
#*# max_y = 175.0
#*#
#*# [bed_mesh customsidee3]
#*# version = 1
#*# points =
#*# 	  -0.293750, -0.032500, 0.053750, -0.002500, -1.793750
#*# 	  -0.172500, 0.116250, 0.263750, 0.212500, -1.697500
#*# 	  -0.216250, 0.073750, 0.212500, 0.175000, -1.685000
#*# 	  -0.201250, 0.130000, 0.297500, 0.265000, -1.656250
#*# 	  -0.240000, 0.076250, 0.227500, 0.191250, -1.615000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 55.0
#*# max_x = 245.0
#*# min_y = 0.0
#*# max_y = 175.0
